<h1>0 baristas on shift</h1>
<div class="flex-center">
  <form>
    <input type="text" name="name" ngModel #name="ngModel" placeholder="name">
    <input type="number" name="age" ngModel #age="ngModel" [style.width.px]="60" placeholder="age">
    <button type="submit" (click)="add(name.value, age.value)">add</button>
  </form>
</div>
<div class="flex-center">
  <ul>
    <li>
      <span>Someone<span class="smaller">, age 99</span></span>
      <button type="button" class="delete" (click)="remove('')">x</button>
    </li>
  </ul>
</div>