<div class="list">
  <p *ngIf="true">No coffee, go add some.</p>
  <div *ngIf="false">
    <app-pay></app-pay>
    <ul>
      <!-- header -->
      <li class="list-header">
        <div>Item</div>
        <div>Unit</div>
        <div>Total</div>
        <div></div>
      </li>
      <!-- items -->
      <li>
        <div>
          Coffee name
        </div>
        <div>
          <span class="unit-desc">10.00 x 1</span>
          <div class="unit-controller">
            <button type="button" (click)="addOneItem('')">+</button>
            <button type="button" (click)="removeOneItem('')">-</button>
          </div>
        </div>
        <div>
          10.00
        </div>
        <div>
          <button class="delete" type="button" (click)="removeItem('')">x</button>
        </div>
      </li>
    </ul>
  </div>
</div>