<div class="list">
  <p *ngIf="(cartList$ | async).length <= 0">No coffee, go add some.</p>
  <div *ngIf="(cartList$ | async).length > 0">
    <app-pay></app-pay>
    <ul>
      <!-- header -->
      <li class="list-header">
        <div>Item</div>
        <div>Unit</div>
        <div>Total</div>
        <div></div>
      </li>
      <!-- items -->
      <li *ngFor="let item of cartList$ | async">
        <div>
          {{ item.coffee.name }}
        </div>
        <div>
          <span class="unit-desc">{{ item.coffee.price | currency }} x {{ item.quantity }}</span>
          <div class="unit-controller">
            <button type="button" (click)="addOneItem('')">+</button>
            <button type="button" (click)="removeOneItem('')">-</button>
          </div>
        </div>
        <div>
          {{ item.total | currency }}
        </div>
        <div>
          <button class="delete" type="button" (click)="removeItem('')">x</button>
        </div>
      </li>
    </ul>
  </div>
</div>